---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="At Trilok" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    We specialise in crafting <span class="text-primary">software</span>
     products to turn your <span class="text-primary">ideas</span> into <span
      class="text-primary">reality</span
    >
     by delivering <span class="text-primary">innovative</span>, <span
      class="text-primary">high-quality</span
    >
     solutions.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#contact"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Let's talk</span>
    </a>
    <a
      href="#showcase"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Our products</span>
    </a>
  </div>
</ContentSection>
